html {
    font-size: 23px;
    /* font-family: 'Lora', serif; */
    font-family: 'Open Sans', serif;
    background-color: #141414;
    text-align: center;
}

.container {
    display: flex;
}

.anw_pg {
    position: absolute;
    right: 100px;
    top: 50%;
    color: #F6CC0C;
    background-color: #141414;
    font-style: 'Open Sans', serif;
    border: 3px solid white;
    cursor: pointer;
    padding: 32px 32px;
    padding-bottom:6px;
    padding-top: 6px; 
    margin: 1px 2px;
    font-size: 35px;
    width: 500px;
}
.anw_pg {border-radius: 25px;}

img {
    /* display: block; */
    width: 740px;
    left: 45%;
    user-select: none;
}

body {
    top: 50px;
    /* width: 700px; */
    background-color: hsl(0, 0%, 8%)
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;
    font-size: 70px;
    margin: 0;
    text-shadow: 0.5px 0.5px 0.5px #F6CC0C;
    color: #F6CC0C
}

p {
    text-align: justify;
    margin: 6px;
    line-height: 2.5;
    letter-spacing: 0.5px;
    text-shadow: 0.5px 0.5px 0.5px #F6CC0C;
    color: #F6CC0C;
    width: 700px;
    border: 3px solid rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
    
}

p {border-radius: 8px;}

.verticalcenter {
    display: table-cell;
    height: 400px;
    vertical-align: middle;
}

.send {
    background-color: #141414;
    color: white;
    font-style: 'Open Sans', serif;
    padding: 15px 15px;
    cursor: pointer;
    border: 3px ridge white;
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    outline: none;
    box-shadow: 0 9px #999;
}
.send {border-radius: 8%}
.send:hover {color: #F6CC0C; background-color: #000000;}
.send:active {
    color:#F6CC0C;
    background-color: #000000;
    box-shadow: 0 5px #666;
    transform: translateY(10px);
}


.quastions {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;

}


.txt_blocks {
    width: 100%;

}

 .txt {               
    resize: none;
    overflow:auto;
    word-wrap: break-word;
    vertical-align: middle;
    float: right;
    margin-left: auto;    
    flex-direction: column;                                    
    text-align: left;
    color: #F6CC0C;
    background-color: #141414;
    font-style: 'Open Sans', serif;
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
    padding: 15px 15px;
    padding: 15px 15px;
    padding-bottom:10px;
    padding-top: 6px; 
    margin-top: 20px;
    margin: 4px 2px;
    font-size: 35px;
    display: none;
    right: 5%;
    width: 650px;


}

.txt {border-radius: 8px;}

/* .txt1 {
    margin-bottom: 103px;
    height: 100px;
    resize: none;
    overflow:auto;
    word-wrap: break-word;
    

}
.txt2 {
    margin-bottom: 103px;
    

}
.txt3 {
    margin-bottom: 103px;
    

}
.txt4 {
   
    margin-bottom: 103px;
}
.txt5 {
   
    margin-bottom: 103px;
}
.txt6 {
  
    margin-bottom: 103px;
}
.txt7 {
   
    margin-bottom: 103px;
}
.txt8 {
    
    margin-bottom: 103px;
} */




.fade-in {
    animation: fade-in is ease-in;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
} 



.button {margin-bottom: 10px;}


.button {                                                            /***************КНОПКИ ТУУУТАА****************/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    color: #F6CC0C;
    background-color: #141414;
    font-style: 'Open Sans', serif;
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
    padding: 32px 32px;
    padding-bottom:50px;
    padding-top: 12px; 
    margin: 4px 2px;
    font-size: 35px;
    width: 850px;
    text-align: left;
    user-select: none;
}

.button1 {                                                                      /****КНОПКА 1111111111111****/
    background-color: #141414;
    color: #F6CC0C;
    border: 3px solid white;
    padding: 50px 50px;
    padding-bottom: 10px;
    padding-top: 3px;
     /* width: 770px; */
     height: 100px; 
    
}

.button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
    }
    .button1 span::after {
        content: '\00bb';
        position:sticky;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.2s;
    }
    .button1:hover span {
        padding-right: 25px;
    }
    .button1:hover span:after {
        opacity: 1;
        right: 0;
    }
    .button1 {border-radius: 8px;}
        
    .button1:not(:lact-child) {
        border-right: none;
    }
    .button1:hover {
        background-color: #F6CC0C;
        color:#141414;
        transition: 0.3s;
    }

.button2 {                                                              /****КНОПКА 2222222222222222222****/
        background-color: #141414;
        color: #F6CC0C;
        border: 3px solid white;
        padding-bottom: 10px;
        padding-top: 3px;
        margin: 3px 4px;
        /* width: 770px; */
        height: 135px;
    }
    
    .button2 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.2s;
        }
        .button2 span::after {
            content: '\00bb';
            position: sticky;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.2s;
        }
        .button2:hover span {
            padding-right: 25px;
        }
        .button2:hover span:after {
            opacity: 1;
            right: 0;
        }
        .button2 {border-radius: 8px;}
            
        .button2:not(:lact-child) {
            border-right: none;
        }
        .button2:hover {
            background-color: #F6CC0C;
            color:#141414;
            transition: 0.3s;
        }   

.button3 {                                                                      /****КНОПКА 33333333333333333****/
            background-color: #141414;
            color: #F6CC0C;
            border: 3px solid white;
            padding-bottom: 10px;
            padding-top: 3px;
            /* width: 770px; */
            height: 135px; 
        }   
        
        .button3 span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.2s;
            }
            .button3 span::after {
                content: '\00bb';
                position: sticky;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.2s;
            }
            .button3:hover span {
                padding-right: 25px;
            }
            .button3:hover span:after {
                opacity: 1;
                right: 0;
            }
            .button3 {border-radius: 8px;}
                
            .button3:not(:lact-child) {
                border-right: none;
            }
            .button3:hover {
                background-color: #F6CC0C;
                color:#141414;
                transition: 0.3s;
            }   

.button4 {                                                                       /****КНОПКА 44444444444444444****/
                background-color: #141414;
                color: #F6CC0C;
                border: 3px solid white;
                padding-top: 3px;
                padding-bottom: 10px;
                /* width: 770px;
                height: 100px; */
            }
            
            .button4 span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.2s;
                }
                .button4 span::after {
                    content: '\00bb';
                    position: sticky;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.2s;
                }
                .button4:hover span {
                    padding-right: 25px;
                }
                .button4:hover span:after {
                    opacity: 1;
                    right: 0;
                }
                .button4 {border-radius: 8px;}
                    
                .button4:not(:lact-child) {
                    border-right: none;
                }
                .button4:hover {
                    background-color: #F6CC0C;
                    color:#141414;
                    transition: 0.3s;
                }   

.button5 {                                                                          /****КНОПКА 5555555555555555555****/
                    background-color: #141414;
                    color: #F6CC0C;
                    border: 3px solid white;
                    padding-top: 3px;
                    padding-bottom: 10px;
                    /* width: 770px;
                    height: 135px; */
                    
                }
                
                .button5 span {
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    transition: 0.2s;
                    }
                    .button5 span::after {
                        content: '\00bb';
                        position: sticky;
                        opacity: 0;
                        top: 0;
                        right: -20px;
                        transition: 0.2s;
                    }
                    .button2:hover span {
                        padding-right: 25px;
                    }
                    .button5:hover span:after {
                        opacity: 1;
                        right: 0;
                    }
                    .button5 {border-radius: 8px;}
                        
                    .button5:not(:lact-child) {
                        border-right: none;
                    }
                    .button5:hover {
                        background-color: #F6CC0C;
                        color:#141414;
                        transition: 0.3s;
                    }   
.button6 {                                                                      /****КНОПКА 6666666666666666666666****/
                        background-color: #141414;
                        color: #F6CC0C;
                        border: 3px solid white;
                        padding-top: 3px;
                        padding-bottom: 10px;
                        /* width: 770px;
                        height: 100px; */
                    }
                    
                    .button6 span {
                        cursor: pointer;
                        display: inline-block;
                        position: relative;
                        transition: 0.2s;
                        }
                        .button6 span::after {
                            content: '\00bb';
                            position: sticky;
                            opacity: 0;
                            top: 0;
                            right: -20px;
                            transition: 0.2s;
                        }
                        .button6:hover span {
                            padding-right: 25px;
                        }
                        .button6:hover span:after {
                            opacity: 1;
                            right: 0;
                        }
                        .button6 {border-radius: 8px;}
                            
                        .button6:not(:lact-child) {
                            border-right: none;
                        }
                        .button6:hover {
                            background-color: #F6CC0C;
                            color:#141414;
                            transition: 0.3s;
                        }   

.button7 {                                                                  /****КНОПКА 777777777777777777777****/
                            background-color: #141414;
                            color: #F6CC0C;
                            border: 3px solid white;
                            padding-top: 3px;
                            padding-bottom: 10px;
                            /* width: 770px;
                            height: 185px; */
                        }
                        
                        .button7 span {
                            cursor: pointer;
                            display: inline-block;
                            position: relative;
                            transition: 0.2s;
                            }
                            .button7 span::after {
                                content: '\00bb';
                                position: sticky;
                                opacity: 0;
                                top: 0;
                                right: -20px;
                                transition: 0.2s;
                            }
                            .button7:hover span {
                                padding-right: 25px;
                            }
                            .button7:hover span:after {
                                opacity: 1;
                                right: 0;
                            }
                            .button7 {border-radius: 8px;}
                                
                            .button7:not(:lact-child) {
                                border-right: none;
                            }
                            .button7:hover {
                                background-color: #F6CC0C;
                                color:#141414;
                                transition: 0.3s;
                            }   

.button8 {                                                                      /****КНОПКА 888888888888888888888****/
                                background-color: #141414;
                                color: #F6CC0C;
                                border: 3px solid white;
                                padding-top: 3px;
                                padding-bottom: 10px;   
                                 /* width: 770px; */
                                height: 135px;
                            }
                            
                            .button8 span {
                                cursor: pointer;
                                display: inline-block;
                                position: relative;
                                transition: 0.2s;
                                }
                                .button8 span::after {
                                    content: '\00bb';
                                    position: sticky;
                                    opacity: 0;
                                    top: 0;
                                    right: -20px;
                                    transition: 0.2s;
                                }
                                .button8:hover span {
                                    padding-right: 25px;
                                }
                                .button8:hover span:after {
                                    opacity: 1;
                                    right: 0;
                                }
                                .button8 {border-radius: 8px;}
                                    
                                .button8:not(:lact-child) {
                                    border-right: none;
                                }
                                .button8:hover {
                                    background-color: #F6CC0C;
                                    color:#141414;
                                    transition: 0.3s;
                                }   




